* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: o;
    background-color: #f3f7fa;
    color: #333;
}

header{
    background-color:rgb(34, 99, 124);
    color:rgb(255, 255, 255);
    text-align: left;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
}

.logo img{
  height: 150px;
  margin-right: 10px;
}

nav a{
    color: #fff;
    margin: 0 25px;
    text-decoration: none;
    font-weight: 400;
   
}

nav .btn-verde {
  background: #33a532;
  padding: 10px 20px;
  border-radius: 9px;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("https://www.kin.energy/PAgina%20KINENERGY%20IMAGENES/Imagenes%20Blog/2024/Blog%202024/Tecnolog%C3%ADas-de-la-informaci%C3%B3n-y-comunicaci%C3%B3n.png");
    opacity: 0.7;
    background-size: cover;
    padding: 12rem;
    color: white;
    width: 2600px;
    height: 600px;
}

.container h1{
  font-size: 5.5rem;
}

.agente{
    height: 600px;
    width: 740px;

}


.seccion-contacto {
    display: flex;
    padding: 9rem;
    font-size: larger;
    size: 35px;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
    font-size: 40px;  

}

.info-contacto {
    background-color: #8fbcd4;
    color: white;
    padding: 2rem;
    border-radius: 15px;
    width: 40%;
    justify-content: center;
}

.info-contacto img {
    width: 70px;
    margin-right: 8px;
    vertical-align: middle;
    
}

.formulario-contacto {
    width: 80%;
   
}

.formulario-contacto h2 {
    margin-bottom: 5.5rem;
    

}

.formulario {
    margin-top: 6rem;
    
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.fila {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  
}

.fila input,
textarea {
    flex: 100;
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-size: 30px;
}

textarea {
    width: 100%;
    padding: 200px;
    height: 100px;
    font-size: 35px;
}

button {
    background-color: #32a520;
    color: white;
    border: none;
    padding: 30px;
    border-radius: 4px;
    cursor: pointer;
    width: 300px;
    align-self: center;
    font-size: 25px;
}

button:hover {
    background-color: #258c1c;

}
.Información {
    background-color: #55728a; 
    color: #ffffff; 
    padding: 100px 200px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 100px; 
    margin-top: auto; 
}
.logo-2w img {
    flex: 1; 
    max-width: 500px; 
    display: flex;
    flex-direction: column;

}

.logo-2w p {
    flex: 1.5; 
    max-width: 350px;
    line-height: 1.6;
    text-align: left;
    font-size: 40px; 
}

.Enlaces {
    flex: 1.5; 
    line-height: 1.6;
    text-align: left;
    font-size: 40px; 
    flex-direction: column;
    padding: 100px 100px; 
    display: flex;

}
.Enlaces p ul{
    flex: 1.5; 
    line-height: 1.6;

}

.Datos1 {
    flex: 1.5; 
    line-height: 1.6;
    flex-direction: column;
    padding: 100px 20px; 
    display: flex;
    justify-content: space-between;
    
    
}
.Datos1 p {
    font-size: 40px; 

}

.Datos1 img{
    width: 37px;
}

.redessociales p {
    flex: 1.5; 
    padding: 100px 20px; 
    display: flex;
    font-size: 40px; 
 
}
.redessociales img{
    width: 50px;
}

footer{
    background-color:rgb(81, 131, 161);
    color: #ffffff;
    text-align: left;
    padding: 1rem;
}