* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: o;
    background-color: #f3f7fa;
    color: #333;
}

header{
    background-color:rgb(34, 99, 124);
    color:rgb(255, 255, 255);
    text-align: left;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
}

.logo img{
  height: 150px;
  margin-right: 10px;
}

nav a{
    color: #fff;
    margin: 0 25px;
    text-decoration: none;
    font-weight: 400;
   
}

nav .btn-verde {
  background: #33a532;
  padding: 10px 20px;
  border-radius: 9px;
}

.cuadro{
  font-size: 45px;
  text-align: center;
  color: #1a1a1a;
  background-position: center;
  justify-content: center;
}

.cuadro1{
  font-size: 45px;
  text-align: center;
  color: #fff;
  background-position: center;
  justify-content: center;
}
.container{
  background-image: url("https://www.kin.energy/PAgina%20KINENERGY%20IMAGENES/Imagenes%20Blog/2024/Blog%202024/Tecnolog%C3%ADas-de-la-informaci%C3%B3n-y-comunicaci%C3%B3n.png");
  background-size: cover;
  opacity: 0.6;
  min-height: 800px;
  display: flex;
  background-position: center;
}
.container h1{
  min-height: 200px;
  min-width:1600px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:rgb(255, 255, 255);
  padding: 50px;
}
.elección {
  text-align: center;  
  padding: 80px;
  font-size: 40px;
  background-color: #edf8fe;
  color: black;

}
.respuestas {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
  font-size: 40px;  
}

.respuesta img {
    height: 80%;
}

.Nosotros {
      display: flex;
      background-color: #ffffff;
      justify-content: space-between;
      align-items: center;

}
.logo2 {
      flex: 1;
      max-width: 50%

}
.logo2 p {
    font-size: 38px;
    color: #111;
    text-align: left;
    align-items: center;
    line-height: 1.5
}

.logo2 img{
  width: 500px;

}

.Tecnología{
    flex: 1;
    height: 100%;

}
.Tecnología img{
    width: 1300px;

}

.Principios {
    display: inline-flex;
    gap: 20px; 
    padding: 20px;
}
.rectangulo {
    background-color: #ffffff; 
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 520px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.6;
}
.rectangulo h2 {
    font-size: 1em;
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}
.rectangulo p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #000000;
}

.rectangulo ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    color: #000000;
    text-align: center; 
    width: 100%; 
}

.rectangulo ul li {
    line-height: 1.6;
}

.Información {
    background-color: #55728a; 
    color: #ffffff; 
    padding: 100px 200px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 100px; 
    margin-top: auto; 
}
.logo-2w img {
    flex: 1; 
    max-width: 500px; 
    display: flex;
    flex-direction: column;

}

.logo-2w p {
    flex: 1.5; 
    max-width: 350px;
    line-height: 1.6;
    text-align: left;
    font-size: 40px; 
}

.Enlaces {
    flex: 1.5; 
    line-height: 1.6;
    text-align: left;
    font-size: 40px; 
    flex-direction: column;
    padding: 100px 100px; 
    display: flex;

}
.Enlaces p ul{
    flex: 1.5; 
    line-height: 1.6;

}

.Datos1 {
    flex: 1.5; 
    line-height: 1.6;
    text-align: left;
    flex-direction: column;
    padding: 100px 20px; 
    display: flex;
    justify-content: space-between;
    
    
}
.Datos1 p {
    flex: 1.5; 
    text-align: left;
    font-size: 40px; 

}

.Datos1 img{
    width: 40px;
}

.redessociales p {
    flex: 1.5; 
    padding: 100px 20px; 
    display: flex;
    font-size: 40px; 
 
}
.redessociales img{
    width: 60px;
}

footer{
    background-color:rgb(81, 131, 161);
    color: #ffffff;
    text-align: left;
    padding: 1rem;
}